<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">

	<context:component-scan base-package="com.tibame.tutorial"/>
	
	<!-- 已經註解@Component的Bean:
	<bean id="someBean" class="com.tibame.tutorial.aop.SomeBean" />
	<bean id="beanA" class="com.tibame.tutorial.beans.BeanA" />
	<bean id="beanB" class="com.tibame.tutorial.beans.BeanB" />
	<bean id="beanC" class="com.tibame.tutorial.beans.BeanC" />
	 -->
    <aop:config>
		<aop:aspect id="aspect" ref="someBean">
			<aop:pointcut id="before" expression="execution(* com.tibame.tutorial.beans.*.speak*())" />
			<aop:pointcut id="after" expression="execution(* com.tibame.tutorial.beans.*.bye*())" />
			<aop:pointcut id="afterReturn" expression="execution(* com.tibame.tutorial.beans.*.return*())" />
			<aop:pointcut id="afterThrow" expression="execution(* com.tibame.tutorial.beans.*.throw*())" />
			<aop:pointcut id="around" expression="execution(* com.tibame.tutorial.beans.*.*())" />
			
			<aop:before pointcut-ref="before" method="jointpointBefore" />
	        <aop:after-returning pointcut-ref="afterReturn" method="jointpointAfterReturn" returning="retVal"/>
	        <aop:after-throwing pointcut-ref="afterThrow" method="jointpointAfterThrow" throwing="exception"/>
	        <aop:after pointcut-ref="after" method="jointpointAfterFinally"/>	
    	    <aop:around pointcut-ref="around" method="jointpointAround"/>
		</aop:aspect>
	</aop:config>
	
</beans>