<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">


	<bean id="tire" class="com.tibame.tutorial.ioc.benzImpl.BenzTire">
		<constructor-arg type="int" value="10" />
	</bean>

	<bean id="chasis" class="com.tibame.tutorial.ioc.benzImpl.BenzChasis">
		<constructor-arg ref="tire" />
	</bean>

	<bean id="frame" class="com.tibame.tutorial.ioc.benzImpl.BenzFrame">
		<constructor-arg ref="chasis" />
	</bean>

	<bean id="car" class="com.tibame.tutorial.ioc.benzImpl.BenzCar">
		<constructor-arg ref="frame" />
	</bean>

</beans>