<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

	<!-- ID會是在容器中的名字，記得首字小寫，剩餘駝峰式 -->
	<!-- 輪胎new一個就好 -->
	<bean id="normalTire" class="com.tibame.lab.beans.NormalTire" />	
	<bean id="benzCar" class="com.tibame.lab.beans.BenzCar" autowire="constructor" init-method="lalalaThisIsInit" destroy-method="lalalaThisIsDestroy"/>
</beans>