<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
        http://www.springframework.org/schema/tx
        https://www.springframework.org/schema/tx/spring-tx.xsd 
        http://www.springframework.org/schema/aop
        https://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd">

	<context:component-scan base-package="com.tibame.tutorial" />


	<tx:advice id="txAdvice"
		transaction-manager="transactionManager">
		<!-- 詳細設定 -->
		<tx:attributes>
			<!-- 所有Get開頭的方法都只是ReadOnly -->
			<tx:method name="get*" read-only="true" />
			<!-- 其他方法都照預設 -->
			<tx:method name="*" />
		</tx:attributes>
	</tx:advice>

	<!-- 下面設定與之前AOP相同 -->
	<aop:config>
		<aop:pointcut id="pointcut" expression="execution(* com.tibame.tutorial..*(..))" />
		<aop:advisor advice-ref="txAdvice" pointcut-ref="pointcut" />
	</aop:config>


	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<!-- 連線驅動程式 -->
		<property name="driverClassName" value="org.h2.Driver" />
		<!-- 連線字串 -->
		<property name="url"
			value="jdbc:h2:tcp://localhost:9091/mem:testcase1" />
		<!-- 連線帳號 -->
		<property name="username" value="sa" />
		<!-- 連線密碼 -->
		<property name="password" value="" />
	</bean>

	<aop:aspectj-autoproxy />

	<!-- 配置sessionFactory -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate5.LocalSessionFactoryBean"
		destroy-method="destroy">
		<property name="dataSource" ref="dataSource" />
		<property name="packagesToScan">
			<list>
				<value>com.tibame.tutorial</value>
			</list>
		</property>
		<!-- *hbm.xml -->
		<!-- 如果你是需要用*hbm.xml的設定的話 -->
		<!--  
        <property name="mappingResources"> 
            <list> 
                <value>emp2.hbm.xml</value> 
                <value>dept2.hbm.xml</value> 
            </list> 
        </property>
 		-->
		<!-- 如果你是需要用"很多" *hbm.xml的設定的話，一次裝進來 -->
		<!--  
	    <property name="mappingLocations">
	        <list>
	            <value>classpath:*.xml</value>
	            <value>/WEB-INF/hibernateMappings</value>
	        </list>
	    </property>
 		-->
 
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.H2Dialect</prop>
				<prop key="hibernate.show_sql">true</prop>
			</props>
		</property>
	</bean>

	<bean id="transactionManager"
		class="org.springframework.orm.hibernate5.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

</beans>